In [22]:
import pandas as pd
import numpy as np

In [23]:
df=pd.read_csv(r"C:\Users\SKAN\Downloads\Car_Crash+(1).csv")

In [24]:
df

,Unnamed: 0,dvcat,weight,Survived,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,injSeverity,caseid
0,0,55+,27.078,Not_Survived,none,none,1,m,32,1997,1987,unavail,driver,0,4.0,2:13:02
1,1,25-39,89.627,Not_Survived,airbag,belted,0,f,54,1997,1994,nodeploy,driver,0,4.0,2:17:01
2,2,55+,27.078,Not_Survived,none,belted,1,m,67,1997,1992,unavail,driver,0,4.0,0.138206019
3,3,55+,27.078,Not_Survived,none,belted,1,f,64,1997,1992,unavail,pass,0,4.0,0.138206019
4,4,55+,13.374,Not_Survived,none,none,1,m,23,1997,1986,unavail,driver,0,4.0,4:58:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11212,11212,25-39,3179.688,survived,none,belted,1,m,17,2002,1985,unavail,driver,0,0.0,82:107:1
11213,11213,24-Oct,71.228,survived,airbag,belted,1,m,54,2002,2002,nodeploy,driver,0,2.0,82:108:2
11214,11214,24-Oct,10.474,survived,airbag,belted,1,f,27,2002,1990,deploy,driver,1,3.0,82:110:1
11215,11215,25-39,10.474,survived,airbag,belted,1,f,18,2002,1999,deploy,driver,1,0.0,82:110:2
11216,11216,25-39,10.474,survived,airbag,belted,1,m,17,2002,1999,deploy,pass,1,0.0,82:110:2

In [25]:
df.shape

(11217, 16)

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11217 entries, 0 to 11216
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   11217 non-null  int64
 1   dvcat        11217 non-null  object
 2   weight       11217 non-null  float64
 3   Survived     11217 non-null  object
 4   airbag       11217 non-null  object
 5   seatbelt     11217 non-null  object
 6   frontal      11217 non-null  int64
 7   sex          11217 non-null  object
 8   ageOFocc     11217 non-null  int64
 9   yearacc      11217 non-null  int64
 10  yearVeh      11217 non-null  int64
 11  abcat        11217 non-null  object
 12  occRole      11217 non-null  object
 13  deploy       11217 non-null  int64
 14  injSeverity  11140 non-null  float64
 15  caseid       11217 non-null  object
dtypes: float64(2), int64(6), object(8)
memory usage: 1.4+ MB

In [27]:
df.isnull().sum()

Unnamed: 0      0
dvcat           0
weight          0
Survived        0
airbag          0
seatbelt        0
frontal         0
sex             0
ageOFocc        0
yearacc         0
yearVeh         0
abcat           0
occRole         0
deploy          0
injSeverity    77
caseid          0
dtype: int64

In [38]:
df=df.drop(["injSeverity"],axis=1)

In [39]:
df.isnull().sum()

Unnamed: 0    0
dvcat         0
weight        0
Survived      0
airbag        0
seatbelt      0
frontal       0
sex           0
ageOFocc      0
yearacc       0
yearVeh       0
abcat         0
occRole       0
deploy        0
caseid        0
dtype: int64

In [40]:
df.describe()

,Unnamed: 0,weight,frontal,ageOFocc,yearacc,yearVeh,deploy
count,11217.000000,11217.000000,11217.000000,11217.000000,11217.000000,11217.000000,11217.000000
mean,5608.000000,431.405309,0.644022,37.427654,2001.103236,1994.177944,0.389141
std,3238.213319,1406.202941,0.478830,18.192429,1.056805,5.658704,0.487577
min,0.000000,0.000000,0.000000,16.000000,1997.000000,1953.000000,0.000000
25%,2804.000000,28.292000,0.000000,22.000000,2001.000000,1991.000000,0.000000
50%,5608.000000,82.195000,1.000000,33.000000,2001.000000,1995.000000,0.000000
75%,8412.000000,324.056000,1.000000,48.000000,2002.000000,1999.000000,1.000000
max,11216.000000,31694.040000,1.000000,97.000000,2002.000000,2003.000000,1.000000

In [45]:
df=pd.get_dummies(df)
df

,Unnamed: 0,dvcat,weight,Survived,airbag,seatbelt,frontal,sex,ageOFocc,yearacc,yearVeh,abcat,occRole,deploy,caseid
0,0,4,27.078,0,1,1,1,1,32,1997,1987,2,0,0,1397
1,1,2,89.627,0,0,0,0,0,54,1997,1994,1,0,0,1403
2,2,4,27.078,0,1,0,1,1,67,1997,1992,2,0,0,20
3,3,4,27.078,0,1,0,1,0,64,1997,1992,2,1,0,20
4,4,4,13.374,0,1,1,1,1,23,1997,1986,2,0,0,3461
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11212,11212,2,3179.688,1,1,0,1,1,17,2002,1985,2,0,0,5773
11213,11213,1,71.228,1,0,0,1,1,54,2002,2002,1,0,0,5775
11214,11214,1,10.474,1,0,0,1,0,27,2002,1990,0,0,1,5780
11215,11215,2,10.474,1,0,0,1,0,18,2002,1999,0,0,1,5781
11216,11216,2,10.474,1,0,0,1,1,17,2002,1999,0,1,1,5781

In [46]:
for feature in df.columns: 
    if df[feature].dtype == 'object': 
        df[feature] = pd.Categorical(df[feature]).codes

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11217 entries, 0 to 11216
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11217 non-null  int64
 1   dvcat       11217 non-null  int8
 2   weight      11217 non-null  float64
 3   Survived    11217 non-null  int8
 4   airbag      11217 non-null  int8
 5   seatbelt    11217 non-null  int8
 6   frontal     11217 non-null  int64
 7   sex         11217 non-null  int8
 8   ageOFocc    11217 non-null  int64
 9   yearacc     11217 non-null  int64
 10  yearVeh     11217 non-null  int64
 11  abcat       11217 non-null  int8
 12  occRole     11217 non-null  int8
 13  deploy      11217 non-null  int64
 14  caseid      11217 non-null  int16
dtypes: float64(1), int16(1), int64(6), int8(7)
memory usage: 712.1 KB

In [51]:
x = df.drop("Survived" , axis=1)
y = df["Survived"]

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

In [56]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=.30, random_state=1)

In [57]:
dt_model = DecisionTreeClassifier(criterion = 'gini' )

In [58]:
dt_model.fit(x_train, y_train)

DecisionTreeClassifier()

In [60]:
from sklearn import tree

train_char_label = ['Survived', 'Not Survived']
dot_file='new_tree.dot'
dot_data = tree.export_graphviz(dt_model, out_file=dot_file, feature_names = list(X_train), class_names = list(train_char_label))

In [61]:
print (pd.DataFrame(dt_model.feature_importances_, columns = ["Imp"], index = X_train.columns))

                 Imp
Unnamed: 0  0.666691
dvcat       0.050548
weight      0.054550
airbag      0.003595
seatbelt    0.008743
frontal     0.008965
sex         0.009640
ageOFocc    0.059975
yearacc     0.006447
yearVeh     0.036148
abcat       0.009194
occRole     0.010952
deploy      0.006012
caseid      0.068541

In [62]:
ytrain_predict = dt_model.predict(x_train)
ytest_predict = dt_model.predict(x_test)

In [63]:
from sklearn.metrics import classification_report,confusion_matrix

In [64]:
print(classification_report(y_train, ytrain_predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       797
           1       1.00      1.00      1.00      7054

    accuracy                           1.00      7851
   macro avg       1.00      1.00      1.00      7851
weighted avg       1.00      1.00      1.00      7851

In [65]:
print(classification_report(y_test, ytest_predict))

              precision    recall  f1-score   support

           0       0.72      0.76      0.74       383
           1       0.97      0.96      0.97      2983

    accuracy                           0.94      3366
   macro avg       0.85      0.86      0.85      3366
weighted avg       0.94      0.94      0.94      3366

In [66]:
dt_model = DecisionTreeClassifier(criterion = 'gini',max_depth =7,min_samples_leaf=10,min_samples_split=30 )

In [67]:
dt_model.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=7, min_samples_leaf=10, min_samples_split=30)

In [68]:
from sklearn import tree

train_char_label = ['Survived', 'Not Survived']
dot_file='new_tree1.dot'
dot_data = tree.export_graphviz(dt_model, out_file=dot_file, feature_names = list(X_train), class_names = list(train_char_label))

In [69]:
print (pd.DataFrame(dt_model.feature_importances_, columns = ["Imp"], index = X_train.columns))

                 Imp
Unnamed: 0  0.866729
dvcat       0.068856
weight      0.012059
airbag      0.000000
seatbelt    0.005775
frontal     0.007864
sex         0.001406
ageOFocc    0.032385
yearacc     0.000000
yearVeh     0.001428
abcat       0.000000
occRole     0.000206
deploy      0.000073
caseid      0.003218

In [70]:
ytrain_predict = dt_model.predict(x_train)
ytest_predict = dt_model.predict(x_test)

In [71]:
from sklearn.metrics import classification_report,confusion_matrix

In [72]:
print(classification_report(y_train, ytrain_predict))

              precision    recall  f1-score   support

           0       0.97      0.68      0.80       797
           1       0.96      1.00      0.98      7054

    accuracy                           0.96      7851
   macro avg       0.97      0.84      0.89      7851
weighted avg       0.97      0.96      0.96      7851

In [73]:
print(classification_report(y_test, ytest_predict))

              precision    recall  f1-score   support

           0       0.96      0.69      0.80       383
           1       0.96      1.00      0.98      2983

    accuracy                           0.96      3366
   macro avg       0.96      0.84      0.89      3366
weighted avg       0.96      0.96      0.96      3366

In [74]:
import matplotlib.pyplot as plt