In [4]:
import pandas as pd
import numpy as np

In [5]:
from sklearn import datasets

In [6]:
iris=datasets.load_iris()

In [7]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [8]:
df["flower"]=iris.target

In [9]:
df["flower"]=df["flower"].apply(lambda x:iris.target_names[x])

In [10]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
x=df.drop("flower",axis=1)
y=df["flower"]

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)

In [14]:
from sklearn import svm

In [15]:
model=svm.SVC(kernel='rbf',C=30,gamma='auto')
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9555555555555556

In [16]:
from sklearn.model_selection import GridSearchCV

In [17]:
clf=GridSearchCV(svm.SVC(gamma='auto'),{'C':[1,10,20],'kernel':['rbf','linear']},cv=5,return_train_score=False)
clf.fit(x_train,y_train)
clf.cv_results_

{'mean_fit_time': array([0.00477495, 0.00339766, 0.00259776, 0.00299535, 0.00219822,
        0.00259757]),
 'std_fit_time': array([1.32178615e-03, 4.89531891e-04, 4.89844288e-04, 5.05897034e-06,
        3.99351163e-04, 4.88909093e-04]),
 'mean_score_time': array([0.00359726, 0.00199847, 0.00199909, 0.00202727, 0.00219913,
        0.00219927]),
 'std_score_time': array([8.00078473e-04, 7.74768677e-07, 1.00475824e-06, 5.62677949e-05,
        7.48787524e-04, 4.00495685e-04]),
 'param_C': masked_array(data=[1, 1, 10, 10, 20, 20],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_kernel': masked_array(data=['rbf', 'linear', 'rbf', 'linear', 'rbf', 'linear'],
              mask=[False, False, False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 1, 'kernel': 'rbf'},
  {'C': 1, 'kernel': 'linear'},
  {'C': 10, 'kernel': 'rbf'},
  {'C': 10, 'kernel': 'linear'},
  {'C': 20, 'kernel': 'rbf'},
  {'C': 20, 'kernel': 'linear'}],
 'split0_test_score': array([0.95238095, 1.        , 1.        , 1.        , 0.95238095,
        0.95238095]),
 'split1_test_score': array([0.95238095, 0.95238095, 0.9047619 , 0.9047619 , 0.9047619 ,
        0.9047619 ]),
 'split2_test_score': array([0.9047619 , 0.95238095, 0.95238095, 0.9047619 , 0.9047619 ,
        0.9047619 ]),
 'split3_test_score': array([1.        , 1.        , 1.        , 0.95238095, 0.95238095,
        1.        ]),
 'split4_test_score': array([0.95238095, 1.        , 0.95238095, 0.9047619 , 0.9047619 ,
        0.9047619 ]),
 'mean_test_score': array([0.95238095, 0.98095238, 0.96190476, 0.93333333, 0.92380952,
        0.93333333]),
 'std_test_score': array([0.03011693, 0.02332847, 0.03563483, 0.03809524, 0.02332847,
        0.03809524]),
 'rank_test_score': array([3, 1, 2, 4, 6, 4])}

In [18]:
df=pd.DataFrame(clf.cv_results_)

In [19]:
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004775,0.001322,0.003597,8.000785e-04,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.952381,0.952381,0.904762,1.000000,0.952381,0.952381,0.030117,3
1,0.003398,0.000490,0.001998,7.747687e-07,1,linear,"{'C': 1, 'kernel': 'linear'}",1.000000,0.952381,0.952381,1.000000,1.000000,0.980952,0.023328,1
2,0.002598,0.000490,0.001999,1.004758e-06,10,rbf,"{'C': 10, 'kernel': 'rbf'}",1.000000,0.904762,0.952381,1.000000,0.952381,0.961905,0.035635,2
3,0.002995,0.000005,0.002027,5.626779e-05,10,linear,"{'C': 10, 'kernel': 'linear'}",1.000000,0.904762,0.904762,0.952381,0.904762,0.933333,0.038095,4
4,0.002198,0.000399,0.002199,7.487875e-04,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.952381,0.904762,0.904762,0.952381,0.904762,0.923810,0.023328,6
5,0.002598,0.000489,0.002199,4.004957e-04,20,linear,"{'C': 20, 'kernel': 'linear'}",0.952381,0.904762,0.904762,1.000000,0.904762,0.933333,0.038095,4

In [20]:
df[["param_C","param_kernel","mean_test_score"]]

  param_C param_kernel  mean_test_score
0       1          rbf         0.952381
1       1       linear         0.980952
2      10          rbf         0.961905
3      10       linear         0.933333
4      20          rbf         0.923810
5      20       linear         0.933333

In [21]:
clf.best_score_

0.980952380952381

In [22]:
clf.best_params_

{'C': 1, 'kernel': 'linear'}

In [23]:
from sklearn.model_selection import RandomizedSearchCV

In [24]:
clf=RandomizedSearchCV(svm.SVC(gamma='auto'),{'C':[1,10,20],'kernel':['rbf','linear']},cv=5,return_train_score=False,n_iter=2)

In [25]:
clf.fit(x_train,y_train)
clf.cv_results_

{'mean_fit_time': array([0.00459743, 0.00279808]),
 'std_fit_time': array([0.0013562 , 0.00074738]),
 'mean_score_time': array([0.00319858, 0.00239825]),
 'std_score_time': array([0.00097783, 0.0004891 ]),
 'param_kernel': masked_array(data=['linear', 'linear'],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'param_C': masked_array(data=[10, 1],
              mask=[False, False],
        fill_value='?',
             dtype=object),
 'params': [{'kernel': 'linear', 'C': 10}, {'kernel': 'linear', 'C': 1}],
 'split0_test_score': array([1., 1.]),
 'split1_test_score': array([0.9047619 , 0.95238095]),
 'split2_test_score': array([0.9047619 , 0.95238095]),
 'split3_test_score': array([0.95238095, 1.        ]),
 'split4_test_score': array([0.9047619, 1.       ]),
 'mean_test_score': array([0.93333333, 0.98095238]),
 'std_test_score': array([0.03809524, 0.02332847]),
 'rank_test_score': array([2, 1])}

In [26]:
df=pd.DataFrame(clf.cv_results_)

In [27]:
df

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_kernel,param_C,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.004597,0.001356,0.003199,0.000978,linear,10,"{'kernel': 'linear', 'C': 10}",1.0,0.904762,0.904762,0.952381,0.904762,0.933333,0.038095,2
1,0.002798,0.000747,0.002398,0.000489,linear,1,"{'kernel': 'linear', 'C': 1}",1.0,0.952381,0.952381,1.000000,1.000000,0.980952,0.023328,1

In [28]:
df[["param_C","param_kernel","mean_test_score"]]

  param_C param_kernel  mean_test_score
0      10       linear         0.933333
1       1       linear         0.980952

In [29]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [30]:
model_params={
    'svm':{
        'model':svm.SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
        }
    },
    'logistic_regression':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    },
     'decision_tree':{
         'model':DecisionTreeClassifier(),
         'params':{
             'max_depth': [4,5,6,7],
             'min_samples_leaf': [1,2,3,4],
            'min_samples_split': [10,20,30,40],
             'max_features':[14,15,16,17],
            'criterion':['gini','entropy']
}
         }
     }

In [31]:
scores=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp["model"],mp["params"],cv=5,return_train_score=False)
    clf.fit(x_train,y_train)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })

In [34]:
scores

[{'model': 'svm',
  'best_score': 0.980952380952381,
  'best_params': {'C': 1, 'kernel': 'linear'}},
 {'model': 'random_forest',
  'best_score': 0.9523809523809523,
  'best_params': {'n_estimators': 1}},
 {'model': 'logistic_regression',
  'best_score': 0.9523809523809523,
  'best_params': {'C': 1}},
 {'model': 'decision_tree',
  'best_score': 0.9523809523809523,
  'best_params': {'criterion': 'gini',
   'max_depth': 4,
   'max_features': 14,
   'min_samples_leaf': 3,
   'min_samples_split': 10}}]

In [32]:
df=pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [33]:
df

,model,best_score,best_params
0,svm,0.980952,"{'C': 1, 'kernel': 'linear'}"
1,random_forest,0.952381,{'n_estimators': 1}
2,logistic_regression,0.952381,{'C': 1}
3,decision_tree,0.952381,"{'criterion': 'gini', 'max_depth': 4, 'max_fea..."

In [52]:
from sklearn.datasets import fetch_olivetti_faces

In [57]:
faces=fetch_olivetti_faces()

downloading Olivetti faces from https://ndownloader.figshare.com/files/5976027 to C:\Users\SKAN\scikit_learn_data

In [58]:
faces.data

array([[0.30991736, 0.3677686 , 0.41735536, ..., 0.15289256, 0.16115703,
        0.1570248 ],
       [0.45454547, 0.47107437, 0.5123967 , ..., 0.15289256, 0.15289256,
        0.15289256],
       [0.3181818 , 0.40082645, 0.49173555, ..., 0.14049587, 0.14876033,
        0.15289256],
       ...,
       [0.5       , 0.53305787, 0.607438  , ..., 0.17768595, 0.14876033,
        0.19008264],
       [0.21487603, 0.21900827, 0.21900827, ..., 0.57438016, 0.59090906,
        0.60330576],
       [0.5165289 , 0.46280992, 0.28099173, ..., 0.35950413, 0.3553719 ,
        0.38429752]], dtype=float32)

In [59]:
x_train,x_test,y_train,y_test=train_test_split(faces.data,faces.target,test_size=0.30,random_state=0)

In [35]:
model_params={
    'svm':{
        'model':svm.SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
        }
    },
    'logistic_regression':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    },
      'decision_tree':{
         'model':DecisionTreeClassifier(),
         'params':{
             'max_depth': [4,5,6,7],
             'min_samples_leaf': [1,2,3,4],
            'min_samples_split': [10,20,30,40],
             'max_features':[14,15,16,17],
            'criterion':['gini','entropy']
}
         }
          }

In [36]:
scores=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp["model"],mp["params"],cv=2,return_train_score=False)
    clf.fit(x_train,y_train)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })

In [37]:
scores

[{'model': 'svm',
  'best_score': 0.9522859216255443,
  'best_params': {'C': 1, 'kernel': 'rbf'}},
 {'model': 'random_forest',
  'best_score': 0.9524673439767779,
  'best_params': {'n_estimators': 5}},
 {'model': 'logistic_regression',
  'best_score': 0.9433962264150944,
  'best_params': {'C': 5}},
 {'model': 'decision_tree',
  'best_score': 0.9524673439767779,
  'best_params': {'criterion': 'gini',
   'max_depth': 4,
   'max_features': 14,
   'min_samples_leaf': 1,
   'min_samples_split': 20}}]

In [38]:
df=pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [39]:
df

,model,best_score,best_params
0,svm,0.952286,"{'C': 1, 'kernel': 'rbf'}"
1,random_forest,0.952467,{'n_estimators': 5}
2,logistic_regression,0.943396,{'C': 5}
3,decision_tree,0.952467,"{'criterion': 'gini', 'max_depth': 4, 'max_fea..."

In [40]:
df=pd.read_csv(r"C:\Users\SKAN\Downloads\train.csv")

In [41]:
df

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,...,1222,1890,668,13,4,19,1,1,0,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,...,915,1965,2032,11,10,16,1,1,1,2
1997,1911,0,0.9,1,1,1,36,0.7,108,8,...,868,1632,3057,9,1,5,1,1,0,3
1998,1512,0,0.9,0,4,1,46,0.1,145,5,...,336,670,869,18,10,19,1,1,1,0
1999,510,1,2.0,1,5,1,45,0.9,168,6,...,483,754,3919,19,4,2,1,1,1,3

In [42]:
x=df.drop("price_range",axis=1)
y=df["price_range"]

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)

In [44]:
model_params={
    'svm':{
        'model':svm.SVC(gamma='auto'),
        'params':{
            'C':[1,10,20],
            'kernel':['rbf','linear']
        }
    },
    'random_forest':{
        'model':RandomForestClassifier(),
        'params':{
            'n_estimators':[1,5,10]
        }
    },
    'logistic_regression':{
        'model':LogisticRegression(solver='liblinear',multi_class='auto'),
        'params':{
            'C':[1,5,10]
        }
    },
    'decision_tree':{
         'model':DecisionTreeClassifier(),
         'params':{
             'max_depth': [4,5,6,7],
             'min_samples_leaf': [1,2,3,4],
            'min_samples_split': [10,20,30,40],
             'max_features':[14,15,16,17],
            'criterion':['gini','entropy']
}
         }
          }

In [45]:
scores=[]
for model_name,mp in model_params.items():
    clf=GridSearchCV(mp["model"],mp["params"],cv=5,return_train_score=False)
    clf.fit(x_train,y_train)
    scores.append({
        'model':model_name,
        'best_score':clf.best_score_,
        'best_params':clf.best_params_
    })

In [76]:
scores

[{'model': 'svm',
  'best_score': 0.9785714285714284,
  'best_params': {'C': 1, 'kernel': 'linear'}},
 {'model': 'random_forest',
  'best_score': 0.7971428571428572,
  'best_params': {'n_estimators': 10}},
 {'model': 'logistic_regression',
  'best_score': 0.7892857142857143,
  'best_params': {'C': 10}}]

In [74]:
df=pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [75]:
df

                 model  best_score                   best_params
0                  svm    0.978571  {'C': 1, 'kernel': 'linear'}
1        random_forest    0.797143          {'n_estimators': 10}
2  logistic_regression    0.789286                     {'C': 10}