In [1]:
import pandas as pd 
import numpy as np
import pymysql

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\skan\anaconda3\lib\site-packages (1.1.0)Note: you may need to restart the kernel to use updated packages.

In [3]:
myconnection=pymysql.connect(host='127.0.0.1',user='root',passwd='atx1c1d1')

In [4]:
cur=myconnection.cursor()

In [ ]:
cur.execute("create database jailer")

In [ ]:
myconnection=pymysql.connect(host='127.0.0.1',user='root',passwd='atx1c1d1',database='jailer')

In [ ]:
cur=myconnection.cursor()

In [ ]:
df=pd.read_csv(r"C:\Users\SKAN\Downloads\car_prices.csv")

In [ ]:
df

In [ ]:
cur.execute("create table rajini(make varchar(20),model varchar(20),year int,mileage int,price int,color varchar(10),state varchar(10))")

In [ ]:
sql = "insert into rajini (make,model,year,mileage,price,color,state) values (%s,%s,%s,%s,%s,%s,%s)"

In [ ]:
for i in range(0,len(df)):
    cur.execute(sql,tuple(df.iloc[i]))
    myconnection.commit()

In [ ]:
pd.read_sql_query("select make,model,avg(price) from rajini group by make,model",myconnection)